*{
  margin:0;
  padding: 0;
  box-sizing: border-box;

  font-family: gopher,sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;

  color: #f4ec6e;
}

html {
  scroll-behavior: smooth;
}

/* ============= TYPOGRAPHY ==================== */
h1 {
  font-size: 12rem;
  font-family: "Editorial New",serif;
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: -5px;

}

h2 {
  font-size: 25px;
  text-transform: uppercase;
}

p {
  width:60vw;
  font-size: 17px;
  line-height: 22px;
  padding-bottom: 1em;
}

.logo {
  font-size: 25px;
}

.nav-link {
  font-size: 12rem;
  font-family: "Editorial New",serif;
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: -5px;

  height: 20vh;
  display: flex;
  justify-content: space-between;
}

/* ============= COLOR ==================== */
.red {
  color: #f25b51;
}

.purple {
  color: #7739ed;
}

.yellow {
  color:  #f4ec6e;
}

.silver {
  color: #e8e8e8;
}

/* ========= COLOR BG =======*/

.blueBg {
  background: #869fef;
}

.greenBg {
  background: #279e61;
}

.purpleBg{
  background: #7739ed;
}

.redBg {
  background: #f25b51;
}
/* ============= SECTIONS ==================== */
.container {
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
}

.description{
  width: 50vw;
}

#bottom-home {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 10px;
  /* padding: 10px; */

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}



#disk1 {
  width: 400px;
  height:400px;
  background: aqua;
  border-radius: 200px;
}
