/*********************************************
This is the style file for this project.


This page styles the main document.

Cow dancing gif: https://www.nexusmods.com/stardewvalley/mods/3551/

**********************************************/

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;

  font-family: gopher,sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* ============= TYPOGRAPHY ==================== */
h1 {
  font-size: 12rem;
  font-family: "Editorial New",serif;
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: -5px;

}

h2 {
  font-size: 25px;
  text-transform: uppercase;
}

p {
  width:60vw;
  font-size: 17px;
  line-height: 22px;
  padding-bottom: 1em;
}

.logo {
  font-size: 25px;
}

.nav-link {
  font-size: 12rem;
  font-family: "Editorial New",serif;
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: -5px;

  height: 20vh;
  display: flex;
  justify-content: space-between;
}

/* ============= COLOR ==================== */
.red {
  color: #f25b51;
}

.purple {
  color: #7739ed;
}

.yellow {
  color:  #f4ec6e;
}

.silver {
  color: #e8e8e8;
}

/* ========= COLOR BG =======*/

.blueBg {
  background: #869fef;
}

.greenBg {
  background: #279e61;
}

.purpleBg{
  background: #7739ed;
}

.redBg {
  background: #f25b51;
}
/* ============= SECTIONS ==================== */
.container {
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
}

.description{
  width: 50vw;
}

#bottom-home {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 10px;
  /* padding: 10px; */

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* ============= TUNES ==================== */
/* ==== Position the cow ====== */

.cow {
  top: 50%;
  left: 20%;
  width: 100px;
  height: 80px;
  position: absolute !important;
  background-image: url("https://media.giphy.com/media/4fHC1UPAgZ3LOf3nwX/giphy.gif");
  background-size: auto 100%;
}

.junimo {
  top: 30%;
  right: 20%;
  width: 90px;
  height: 90px;
  position: absolute !important;
  background-image: url("https://media.giphy.com/media/SAWmzpOemqY9xdCr3o/giphy.gif");
  background-size: auto 100%;
}
